In [1]:
#importing necessary libraries
import selenium
import pandas as pd
import time
from selenium import webdriver    #importing selenium webdriver

#importing exceptions
from selenium.common.exceptions import NoSuchElementException

# import Action chains  
from selenium.webdriver.common.action_chains import ActionChains 
from selenium.webdriver.common.keys import Keys

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [29]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver

In [30]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')   #opening the url given
time.sleep(2)
driver.maximize_window()     #maximizing the current browser
time.sleep(2)
#above url didnt give us desired result clicking on the desired url.
driver.find_element_by_xpath("//a[@class='external text']/i").click()
time.sleep(2)
driver.find_element_by_xpath("//a[@title='List of most-viewed YouTube videos']").click()

In [34]:
#Empty list to store scraped data
most_viewed={}
most_viewed['Rank']=[]
most_viewed['Name']=[]
most_viewed['Artist']=[]
most_viewed['Upload_date']=[]
most_viewed['Views(in billions)']=[]

In [35]:
#extracting information from the page

#extracting rank from the xpath
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tr/td[1]"):
        most_viewed['Rank'].append(i.text)
except NoSuchElementException:
    most_viewed['Rank'].append('--')

    
#extracting Song Name from the xpath
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tr/td[2]"):
        most_viewed['Name'].append(i.text)
except NoSuchElementException:
    most_viewed['Name'].append('--')
    
#extracting Artist Name from the xpath
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tr/td[3]"):
        most_viewed['Artist'].append(i.text)
except NoSuchElementException:
    most_viewed['Artist'].append('--')
    
#extracting No.0f.Views from the xpath
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tr/td[4]"):
        most_viewed['Views(in billions)'].append(i.text)
except NoSuchElementException:
    most_viewed['Views(in billions)'].append('--')
    
#extracting date of upload from the xpath
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tr/td[5]"):
        most_viewed['Upload_date'].append(i.text)
except NoSuchElementException:
    most_viewed['Upload_date'].append('--')

In [36]:
most_viewed_df = pd.DataFrame.from_dict(most_viewed)
most_viewed_df

,Rank,Name,Artist,Upload_date,Views(in billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.04
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.23
2,3.,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",5.20
3,4.,"""See You Again""[26]",Wiz Khalifa,"April 6, 2015",4.99
4,5.,"""Johny Johny Yes Papa""[29]",LooLoo Kids,"October 8, 2016",4.87
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.10
7,8.,"""Gangnam Style""[32]",Psy,"July 15, 2012",3.99
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,"February 27, 2018",3.72
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.71
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.59
11,12.,"""Sorry""[37]",Justin Bieber,"October 22, 2015",3.41
12,13.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.40
13,14.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.29
14,15.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.21
15,16.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.20
16,17.,"""Dame Tu Cosita""[42]",El Chombo,"April 5, 2018",3.14
17,18.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.00
19,20.,"""Lean On""[45]",Major Lazer Official,"March 22, 2015",2.98
20,21.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",2.98
21,22.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",2.98
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",2.97
23,24.,"""Let Her Go""[49]",Passenger,"July 25, 2012",2.92
24,25.,"""Mi Gente""[50]",J Balvin,"June 29, 2017",2.87
25,26.,"""Hello""[51]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.76
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.75
28,29.,"""Blank Space""[54]",Taylor Swift,"November 10, 2014",2.73
29,30.,"""Chantaje""[55]",Shakira,"November 18, 2016",2.63

In [37]:
most_viewed_df.to_csv('YouTubeMostViewed.csv')

In [38]:
driver.close()

Q2. Scrape the details team India’s international fixtures from bcci.tv.You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

In [84]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver

In [85]:
driver.get('https://www.bcci.tv/')  #opening the url given
time.sleep(2)
driver.maximize_window()

In [86]:
# import Action chains  
from selenium.webdriver.common.action_chains import ActionChains 

#xpath for the option international
international=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover'][1]")
#xpath to choose fixtures
fixture=driver.find_element_by_xpath("//div[@class='drop-down__options']//li[1]//a")

#using action chains to click on the fixture tab hidden inside the internatinal box
ActionChains(driver).move_to_element(international).click(fixture).perform()

In [87]:
fixtures={}
fixtures['Match_title']=[]
fixtures['Series']=[]
fixtures['Place']=[]
fixtures['Time']=[]
fixtures['full_date']=[]

#extracting Match title from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
        fixtures['Match_title'].append(i.text)
except NoSuchElementException:
    fixtures['Match_title'].append("--")
        

#extracting name of series from xpath
try:
    for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
        fixtures['Series'].append(i.text)
except NoSuchElementExceptions:
    fixtures['Series'].append("--")

    
#extracting place from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
        fixtures['Place'].append(i.text)
except NoSuchElementExceptions:
    fixtures['Place'].append("--")
    

#extracting time from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]"):
        fixtures['Time'].append(i.text)
except NoSuchElementException:
    fixtures['Time'].append("--")
    
    
#extracting date and month from xpath
date=[]
try:
    for i in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span"):
        date.append(i.text)
except NoSuchElementException:
    date.append("--")
month=[]
try:
    for i in driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]"):
        month.append(i.text)
except NoSuchElementException:
    month.append("--")

#combining date and month
for i in range(len(month)):
    fixtures['full_date'].append(date[i]+month[i])

In [88]:
fixtures_df=pd.DataFrame.from_dict(fixtures)
fixtures_df

,Match_title,Series,Place,Time,full_date
0,4th Test,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",09:30 IST,04MARCH
1,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",19:00 IST,12MARCH
2,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",19:00 IST,14MARCH
3,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",19:00 IST,16MARCH
4,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",19:00 IST,18MARCH
5,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",19:00 IST,20MARCH
6,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,23MARCH
7,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,26MARCH
8,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,28MARCH
9,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",15:30 IST,04AUGUST
10,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",15:30 IST,12AUGUST
11,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",15:30 IST,25AUGUST
12,4th Test,ENGLAND V INDIA 2021,"The Oval, London",15:30 IST,02SEPTEMBER
13,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST,10SEPTEMBER

In [89]:
fixtures_df.to_csv('fixture.csv')

In [90]:
driver.close()

Q3. Scrape the details of selenium exception from guru99.com.You need to find following details:
A) Name
B) Description

In [146]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver

In [147]:
driver.get(' https://www.guru99.com/')
time.sleep(2)
driver.maximize_window()  #maximizing the browser

In [148]:
try:
    if driver.find_element_by_xpath("//div[@class='g-menu-item-container']").text=='Testing':
        testing=driver.find_element_by_xpath("//div[@class='g-menu-item-container']")
    else:
        raise NoSuchElementException
        
    sele=driver.find_element_by_xpath("//li[@class='g-menu-item g-menu-item-type-component g-menu-item-121  ']//span/span")
        
    #using action chains to go to Selenium tab hidden inside the Testing tab
    ActionChains(driver).move_to_element(testing).click(sele).perform()
except NoSuchElementException:
    print('No such element exception')

In [152]:
#going to the page of selenium exceptions handling
driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()

In [153]:
#creating empty dictionary to store the information
exceptions={}
exceptions['Exception_Name']=[]
exceptions['Description']=[]
for i in range(2,43):
#extracting exception name using xpath
    try:
        exceptions['Exception_Name'].append(driver.find_element_by_xpath("//table[@class='table table-striped']//tr[{}]//td[1]".format(i)).text)
    except NoSuchElementException:
        exceptions['Exception_Name'].append("--")

#extracting description of exception using xpath
    try:
        exceptions['Description'].append(driver.find_element_by_xpath("//table[@class='table table-striped']//tr[{}]//td[2]".format(i)).text)
    except NoSuchElementException:
        exceptions['Description'].append("--")

In [154]:
exceptions_df=pd.DataFrame.from_dict(exceptions)
exceptions_df

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [155]:
exceptions_df.to_csv('exceptions.csv')

In [156]:
driver.close()

Q4. Scrape the details of State-wise GDP of India from statisticstime.com. You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [45]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver
time.sleep(2)
driver.maximize_window()    #maximizing the browser

In [46]:
driver.get('http://statisticstimes.com/')   #opening the webpage

In [47]:
try:
    if driver.find_element_by_xpath("//button[@class='dropbtn']").text=='Economy':    #searching for the xpath for economy page
        economy=driver.find_element_by_xpath("//button[@class='dropbtn']")
    elif driver.find_element_by_xpath("//div[@class='dropdown'][2]").text=='Economy':
            economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]//button")
except NoSuchElementException:
    print('No such element exception')
    
        
action=ActionChains(driver)
action.move_to_element(economy)
time.sleep(2)


try:
    india=driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]")  #xpath to click india
except NoSuchElementException:
    print('No such element exception')
        
action.click(india)
action.perform()

In [48]:
#xpath to go on to the page of GDP of indian states
driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li/a").click()

In [49]:
gdp={}
gdp['Rank']=[]
gdp['State']=[]
gdp['GSDP(19-20)']=[]
gdp['GSDP(18-19)']=[]
gdp['Share(18-19)']=[]
gdp['GDP(in $ billion)']=[]


for i in range(1,34):
#xpath to extract rank
    try:
        gdp['Rank'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[1]".format(i)).text)
    except NoSuchElementException:
        gdp['Rank'].append("--")
        
#xpath to extract name of the state
    try:
        gdp['State'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[2]".format(i)).text)
    except NoSuchElementException:
        gdp['State'].append("--")
        
#xpath to extract GSDP(19-20)
    try:
        gdp['GSDP(19-20)'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[3]".format(i)).text)
    except NoSuchElementException:
        gdp['GSDP(19-20)'].append("--")

#xpath to extract GSDP(18-19)
    try:
        gdp['GSDP(18-19)'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[4]".format(i)).text)
    except NoSuchElementException:
        gdp['GSDP(18-19)'].append("--")
        
#xpath to extract Share(18-19)
    try:
        gdp['Share(18-19)'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[5]".format(i)).text)
    except NoSuchElementException:
        gdp['Share(18-19)'].append("--")
        
#xpath to extract GDP($billion)
    try:
        gdp['GDP(in $ billion)'].append(driver.find_element_by_xpath("//table[@id='table_id']//tr[{}]/td[6]".format(i)).text)
    except NoSuchElementException:
        gdp['GDP(in $ billion)'].append("--")

In [50]:
gdp_df=pd.DataFrame.from_dict(gdp)
gdp_df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(in $ billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.35%,239.656
3,4,Gujarat,-,"1,502,899",7.92%,227.276
4,5,Karnataka,"1,631,977","1,493,127",7.87%,225.798
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"521,275","487,805",2.57%,73.768
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,"80,449","73,170",0.39%,11.065
23,24,Tripura,"55,984","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"38,253","34,433",0.18%,5.207
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,"31,790","27,870",0.15%,4.215
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,"26,503","22,287",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

In [51]:
gdp_df.to_csv('gdp_indian_state.csv')

In [52]:
driver.close()

Q5. Scrape the details of trending repositories on Github.com.
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [34]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver
time.sleep(2)
driver.maximize_window()    #maximizing the browser

In [35]:
driver.get('https://github.com/')    #opening the webpage

In [36]:
#xpath for the explore tab
try:
    if driver.find_element_by_xpath("//li[@class='d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center '][2]//summary").text=='Explore':
        explore=driver.find_element_by_xpath("//li[@class='d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center '][2]//summary")
except NoSuchElementException:
    print('No such element exception')
    
#xpath to click the trending button
try:
    trending=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']//li[3]")
except NoSuchElementException:
    print('No such element exception')

In [37]:
explore.click()
time.sleep(2)
trending.click()

In [38]:
github={}
github['Repositary Title']=[]
try:
    for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']"):
        github['Repositary Title'].append(i.text)
except NoSuchElementException:
    github['Repositary Title'].append("--")

In [39]:
url=[]
github['Repository Description']=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a"):
    url.append(i.get_attribute('href'))
url

['https://github.com/dolthub/dolt',
 'https://github.com/openai/CLIP',
 'https://github.com/google/googletest',
 'https://github.com/flutter/flutter',
 'https://github.com/git/git',
 'https://github.com/dwisiswant0/apkleaks',
 'https://github.com/coolsnowwolf/lede',
 'https://github.com/Developer-Y/cs-video-courses',
 'https://github.com/gskinnerTeam/flutter-folio',
 'https://github.com/connor-create/wsbtrades',
 'https://github.com/facebookresearch/d2go',
 'https://github.com/microsoft/CSS-Exchange',
 'https://github.com/sarven/unit-testing-tips',
 'https://github.com/kilimchoi/engineering-blogs',
 'https://github.com/MicrosoftLearning/AZ-104-MicrosoftAzureAdministrator',
 'https://github.com/florinpop17/app-ideas',
 'https://github.com/trekhleb/javascript-algorithms',
 'https://github.com/freefq/free',
 'https://github.com/nushell/nushell',
 'https://github.com/Shopify/upgrow',
 'https://github.com/thunlp/GNNPapers',
 'https://github.com/getzola/zola',
 'https://github.com/microsoft/vscode',
 'https://github.com/muguruzawang/jd_maotai_seckill',
 'https://github.com/acantril/learn-cantrill-io-labs']

In [40]:
github['Repository Description']=[]
github['Language Used']=[]
for i in url:
    driver.get(i)
    try:
        github['Repository Description'].append(driver.find_element_by_xpath("//p[@class='f4 mt-3']").text)
    except NoSuchElementException:
        github['Repository Description'].append("--")
        
    try:
        github['Language Used'].append(driver.find_element_by_xpath("//li[@class='d-inline']//a/span").text)
    except NoSuchElementException:
        github['Language Used'].append("--")

In [42]:
github_df=pd.DataFrame.from_dict(github)
github_df

,Repositary Title,Repository Description,Language Used
0,dolthub / dolt,Dolt – It's Git for Data,Go
1,openai / CLIP,Contrastive Language-Image Pretraining,Jupyter Notebook
2,google / googletest,Googletest - Google Testing and Mocking Framework,C++
3,flutter / flutter,Flutter makes it easy and fast to build beauti...,Dart
4,git / git,Git Source Code Mirror - This is a publish-onl...,C
5,dwisiswant0 / apkleaks,"Scanning APK file for URIs, endpoints & secrets.",Python
6,coolsnowwolf / lede,Lean's OpenWrt source,C
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,--
8,gskinnerTeam / flutter-folio,"A platform adaptive Flutter app for desktop, m...",Dart
9,connor-create / wsbtrades,--,Python
10,facebookresearch / d2go,D2Go is a toolkit for efficient deep learning,Python
11,microsoft / CSS-Exchange,Exchange Server support tools and scripts,PowerShell
12,sarven / unit-testing-tips,Unit testing tips by examples in PHP,--
13,kilimchoi / engineering-blogs,A curated list of engineering blogs,Ruby
14,MicrosoftLearning / AZ-104-MicrosoftAzureAdmin...,AZ-104 Microsoft Azure Administrator,PowerShell
15,florinpop17 / app-ideas,A Collection of application ideas which can be...,--
16,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,JavaScript
17,freefq / free,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/ssr/v2ray/trojan...,--
18,nushell / nushell,A new type of shell,Rust
19,Shopify / upgrow,A sustainable architecture for Ruby on Rails.,Ruby
20,thunlp / GNNPapers,Must-read papers on graph neural networks (GNN),--
21,getzola / zola,A fast static site generator in a single binar...,Rust
22,microsoft / vscode,Visual Studio Code,TypeScript
23,muguruzawang / jd_maotai_seckill,优化版本的京东茅台抢购神器,Python
24,acantril / learn-cantrill-io-labs,Standard and Advanced Demos for learn.cantrill...,Shell

Trial to extract contributers count

In [129]:
github['Contributors Count']=[]
for i in url[0:8]:
    driver.get(i)
    try:
        if driver.find_element_by_xpath("//div[@class='BorderGrid-row'][3]//h2").text=='Contributors':
            github['Contributors Count'].append(driver.find_element_by_xpath("//div[@class='BorderGrid-row'][3]//h2//a/span").text)
        elif driver.find_element_by_xpath("//div[@class='BorderGrid-row'][2]//h2").text=='Contributors':
            github['Contributors Count'].append(driver.find_element_by_xpath("//div[@class='BorderGrid-row'][2]//h2//a/span").text)
    except NoSuchElementException:
        github['Contributors Count'].append("--")
github['Contributors Count']

['--', '--', '--']

In [49]:
b=[]
for i in url:
    driver.get(i)
    try:
        b.append(driver.find_element_by_xpath("//div[@class='BorderGrid-row'][5]//div//h2").text)
    except NoSuchElementException:
        b.append("--")
b
#//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[5]/div/h2/a/span

['--',
 '--',
 'Languages',
 '--',
 '--',
 'Contributors 3',
 '--',
 '--',
 'Languages',
 '--',
 'Languages',
 '--',
 '--',
 'Languages',
 'Languages',
 '--',
 'Contributors 139',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 'Languages']

In [146]:
a=[]
for i in url:
    driver.get(i)
    try:
        a.append(driver.find_element_by_xpath("//a[@class='text-small']").text)
    except NoSuchElementException:
        a.append("--")
a

['--',
 '+ 801 contributors',
 '+ 13 releases',
 '--',
 '+ 61 releases',
 '+ 346 releases',
 '+ 1,047 releases',
 '+ 32 contributors',
 '--',
 '--',
 '+ 113 releases',
 '+ 324 contributors',
 '+ 44 contributors',
 '--',
 '--',
 '--',
 '--',
 '+ 69 contributors',
 '+ 80 contributors',
 '--',
 '+ 1,435 contributors',
 '+ 17 releases',
 '--',
 '+ 128 contributors',
 '+ 67 releases']

In [145]:
b=[]
for i in url:
    driver.get(i)
    try:
        b.append(driver.find_element_by_xpath("//div[@class='BorderGrid-row'][3]//h2//a/span").text)
    except NoSuchElementException:
        b.append("--")
b

['4',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '372',
 '--',
 '--',
 '',
 '',
 '--',
 '2',
 '--',
 '91',
 '--',
 '1,446',
 '--',
 '--',
 '',
 '4']

In [134]:
driver.find_element_by_xpath("//h2[@class='h4 mb-3']").text

'Releases 68'

In [137]:
p=[]
for i in url[0:5]:
    driver.get(i)
    p.append(driver.find_element_by_xpath("//div[@class='flex-shrink-0 col-12 col-md-3']//h2").text)
p

['About', 'About', 'About', 'About', 'About']

In [53]:
z=[]
for i in url:
    driver.get(i)
    try:
        z.append(driver.find_element_by_xpath("//div[@class='BorderGrid-row'][3]//h2//a").text)
    except NoSuchElementException:
        z.append("--")
z

['Contributors 21',
 '--',
 '--',
 '--',
 'Contributors 1,446',
 'Packages',
 'Contributors 229',
 '--',
 'Contributors 4',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 'Packages',
 '--',
 '--',
 'Contributors 8',
 '--',
 'Contributors 218',
 'Contributors 1,370',
 '--',
 '--']

In [54]:
y=[]
for i in url:
    driver.get(i)
    try:
        y.append(driver.find_element_by_xpath("//div[@class='BorderGrid-row'][4]//h2//a/span").text)
    except NoSuchElementException:
        y.append("--")
y

['--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '229',
 '43',
 '--',
 '--',
 '--',
 '--',
 '--',
 '335',
 '38',
 '68',
 '13',
 '--',
 '--',
 '--',
 '23',
 '--',
 '--',
 '--',
 '--']

In [50]:
x=[]
for i in url:
    driver.get(i)
    try:
        x.append(driver.find_element_by_xpath("//div[@class='BorderGrid-row'][4]//h2").text)
    except NoSuchElementException:
        x.append("--")
x

['Languages',
 '--',
 'Languages',
 '--',
 'Languages',
 '--',
 'Contributors 229',
 'Contributors 43',
 'Languages',
 'Languages',
 'Languages',
 'Languages',
 '--',
 'Contributors 335',
 'Contributors 38',
 'Contributors 68',
 'Used by 13',
 '--',
 'Contributors 200',
 'Languages',
 'Contributors 23',
 'Languages',
 'Languages',
 'Languages',
 'Contributors 9']

Q6.Scrape the details of top 100 songs on billiboard.com.
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [54]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver

In [55]:
driver.get('https://www.billboard.com/')
time.sleep(2)
driver.maximize_window()

In [56]:
#xpath to click charts
driver.find_element_by_xpath("//*[@id='root']/div[2]/div[2]/header/div/ul/li[1]/a").click()

In [58]:
#extracting xpath to click hot100
driver.find_element_by_xpath("//div[@class='charts-landing__info--view-chart']").click()

In [59]:
hot100={}
hot100['Song Name']=[]
hot100['Artist Name']=[]
hot100['Last Week Rank']=[]
hot100['Peak Rank']=[]
hot100['Weeks on Board']=[]

#Extracting song name using xpath
try:
    for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
        hot100['Song Name'].append(i.text)
except NoSuchElementException:
    hot100['Song Name'].append("--")
    
#Extracting artist name using xpath
try:
    for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
        hot100['Artist Name'].append(i.text)
except NoSuchElementException:
    hot100['Artist Name'].append("--")
    
#Extracting Last week rank using xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
        hot100['Last Week Rank'].append(i.text)
except NoSuchElementException:
    hot100['Last Week Rank'].append("--")
    
#Extracting peak rank using xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
        hot100['Peak Rank'].append(i.text)
except NoSuchElementException:
    hot100['Peak Rank'].append("--")
    
#Extracting weeks on board using xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
        hot100['Weeks on Board'].append(i.text)
except NoSuchElementException:
    hot100['Weeks on Board'].append("--")

In [60]:
hot100_df=pd.DataFrame.from_dict(hot100)
hot100_df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

In [61]:
hot100_df.to_csv('top100')

In [62]:
driver.close()

Q8. . Scrape the details of Highest selling novels.
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [85]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver

In [86]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(2)
driver.maximize_window()

In [87]:
novel={}
novel['Book Name']=[]
novel['Author Name']=[]
novel['Volumes Sold']=[]
novel['Publisher']=[]
novel['Genre']=[]


for i in range(0,100):
    
#extracting book name using xpath
    try:
        novel['Book Name'].append(driver.find_element_by_xpath("//td[@id='table-cell-10943-{}-1']".format(i)).text)
    except NoSuchElementExcetion:
        novel['Book Name'].append("--")
    
#extracting author name using xpath
    try:
        novel['Author Name'].append(driver.find_element_by_xpath("//td[@id='table-cell-10943-{}-2']".format(i)).text)
    except NoSuchElementExcetion:
        novel['Author Name'].append("--")
    
#extracting volumes sold using xpath
    try:
         novel['Volumes Sold'].append(driver.find_element_by_xpath("//td[@id='table-cell-10943-{}-3']".format(i)).text)
    except NoSuchElementExcetion:
        novel['Volumes Sold'].append("--")
    
#extracting publisher using xpath
    try:
        novel['Publisher'].append(driver.find_element_by_xpath("//td[@id='table-cell-10943-{}-4']".format(i)).text)
    except NoSuchElementExcetion:
        novel['Publisher'].append("--")
    
    
#extracting genre using xpath
    try:
        novel['Genre'].append(driver.find_element_by_xpath("//td[@id='table-cell-10943-{}-5']".format(i)).text)
    except NoSuchElementExcetion:
        novel['Genre'].append("--")

In [88]:
novel_df=pd.DataFrame.from_dict(novel)
novel_df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [89]:
novel_df.to_csv('highest_novel.csv')

In [90]:
driver.close()

Q9.Scrape the details most watched tv series of all time from imdb.com.
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [91]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver

In [92]:
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(2)
driver.maximize_window()

In [108]:
series={}
series['Name']=[]
series['Year Span']=[]
series['Genre']=[]
series['Run Time']=[]
series['Ratings']=[]
series['Votes']=[]

#extracting series name from xpath
try:
    for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
        series['Name'].append(i.text)
except NoSuchElementException:
    series['Name'].append("--")
    
#extracting year span using xpath
try:
    for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]"):
        series['Year Span'].append(i.text)
except NoSuchElementException:
    series['Year Span'].append("--")
    
#extracting genre using xpath
try:
    for i in driver.find_elements_by_xpath("//span[@class='genre']"):
        series['Genre'].append(i.text)
except NoSuchElementException:
    series['Genre'].append("--")
    
#extracting run time using xpath
try:
    for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
        series['Run Time'].append(i.text)
except NoSuchElementException:
    series['Run Time'].append("--")
    
#extracting rating using xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
        series['Ratings'].append(i.text)
except NoSuchElementException:
    series['Ratings'].append("--")
    
#extracting votes using xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]/span[2]"):
        series['Votes'].append(i.text)
except NoSuchElementException:
    series['Votes'].append("--")

In [110]:
series_df=pd.DataFrame.from_dict(series)
series_df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,573"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,128"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,933"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,243"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,796"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,769"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,101"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,290"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,207"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,941"

In [111]:
series_df.to_csv('tv_series.csv')

In [112]:
driver.close()

Q7. Scrape the details of Data science recruiters from naukri.com.
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [196]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver

In [197]:
driver.get('https://www.naukri.com/')
time.sleep(2)
driver.maximize_window()

In [198]:
#to remove login pop up
try:
    driver.find_element_by_xpath("//span[@id='block']").click()
except NoSuchElementException:
    pass

In [199]:
#clicking on tab recruiters
driver.find_element_by_xpath("//ul[@class='midSec menu']//li[2]//a/div").click()

In [200]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [201]:
a=driver.find_element_by_xpath("//div[@class='inpWrap']/input")  #xpath for the search tab
a.send_keys('Data science')
time.sleep(2)
a.send_keys(Keys.ENTER)

In [202]:
naukri={}
naukri['Recruiter Name']=[]
naukri['Recruiter Designation']=[]
naukri['Company']=[]
naukri['Skills Required']=[]

#extracting recruiter name using xpath
try:
    for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
        naukri['Recruiter Name'].append(i.text)
except NoSuchElementException:
    naukri['Recruiter Name'].append("--")

#extracting designation of recruiter using xpath
try:
    for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
        naukri['Recruiter Designation'].append(i.text)
except NoSuchElementException:
    naukri['Recruiter Designation'].append("--")
    
#extracting company name of recruiter using xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='highlightable']//a[2]"):
        naukri['Company'].append(i.text)
except NoSuchElementException:
    naukri['Company'].append("--")   
    
#extracting skills using xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
        naukri['Skills Required'].append(i.text)
except NoSuchElementException:
    naukri['Skills Required'].append("--")

In [204]:
link=[]
for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]"):
    link.append(i.get_attribute('href'))
link

['https://www.naukri.com/recruiters/aakashharit-1986742?xid=161504405791627000&xp=1',
 'https://www.naukri.com/recruiters/shravankumargaddam-353487?xid=161504405791627000&xp=2',
 'https://www.naukri.com/recruiters/Xenonstack?xid=161504405791627000&xp=3',
 'https://www.naukri.com/recruiters/anikagrawal-3647208?xid=161504405791627000&xp=4',
 'https://www.naukri.com/recruiters/marsiantech?xid=161504405791627000&xp=5',
 'https://www.naukri.com/recruiters/LXP-DATASCIENCE?xid=161504405791627000&xp=6',
 'https://www.naukri.com/recruiters/jitendrasingh-managertalentacquisition-delhi?xid=161504405791627000&xp=7',
 'https://www.naukri.com/recruiters/abhishekyadav-3450244?xid=161504405791627000&xp=8',
 'https://www.naukri.com/recruiters/menakav-3213816?xid=161504405791627000&xp=9',
 'https://www.naukri.com/recruiters/techvantage?xid=161504405791627000&xp=10',
 'https://www.naukri.com/recruiters/asiflucknowi-4331110?xid=161504405791627000&xp=11',
 'https://www.naukri.com/recruiters/instafinancials-humanresource?xid=161504405791627000&xp=12',
 'https://www.naukri.com/recruiters/kalpana-2078894?xid=161504405791627000&xp=13',
 'https://www.naukri.com/recruiters/mubarak-2905498?xid=161504405791627000&xp=14',
 'https://www.naukri.com/recruiters/quantmagnum?xid=161504405791627000&xp=15',
 'https://www.naukri.com/recruiters/manishayadav-4463916?xid=161504405791627000&xp=16',
 'https://www.naukri.com/recruiters/kapildevang-3169734?xid=161504405791627000&xp=17',
 'https://www.naukri.com/recruiters/riyarajesh-4375878?xid=161504405791627000&xp=18',
 'https://www.naukri.com/recruiters/maheshbabuchanna-1803238?xid=161504405791627000&xp=19',
 'https://www.naukri.com/recruiters/rashmibhattacharjee-3921774?xid=161504405791627000&xp=20',
 'https://www.naukri.com/recruiters/faizankareem-3685102?xid=161504405791627000&xp=21',
 'https://www.naukri.com/recruiters/rithikadadwal-3517898?xid=161504405791627000&xp=22',
 'https://www.naukri.com/recruiters/azaharshaikh-companyrecruiter?xid=161504405791627000&xp=23',
 'https://www.naukri.com/recruiters/ankitshah-21129?xid=161504405791627000&xp=24',
 'https://www.naukri.com/recruiters/shaunrao-3020604?xid=161504405791627000&xp=25',
 'https://www.naukri.com/recruiters/dhruvdevdubey?xid=161504405791627000&xp=26',
 'https://www.naukri.com/recruiters/manas-3159036?xid=161504405791627000&xp=27',
 'https://www.naukri.com/recruiters/kumar-3378892?xid=161504405791627000&xp=28',
 'https://www.naukri.com/recruiters/sunilvedula-3392046?xid=161504405791627000&xp=29',
 'https://www.naukri.com/recruiters/rajatkumar-3295096?xid=161504405791627000&xp=30',
 'https://www.naukri.com/recruiters/jayanthn-3081850?xid=161504405791627000&xp=31',
 'https://www.naukri.com/recruiters/prateekkumar-4410750?xid=161504405791627000&xp=32',
 'https://www.naukri.com/recruiters/amitsharma-4238940?xid=161504405791627000&xp=33',
 'https://www.naukri.com/recruiters/deepali002g?xid=161504405791627000&xp=34',
 'https://www.naukri.com/recruiters/shashikantchaudhary-4164854?xid=161504405791627000&xp=35',
 'https://www.naukri.com/recruiters/brad-4068508?xid=161504405791627000&xp=36',
 'https://www.naukri.com/recruiters/rutujapawar?xid=161504405791627000&xp=37',
 'https://www.naukri.com/recruiters/madhusudhansridhar-2705338?xid=161504405791627000&xp=38',
 'https://www.naukri.com/recruiters/ankitsinha-3398798?xid=161504405791627000&xp=39',
 'https://www.naukri.com/recruiters/gauravchouhan?xid=161504405791627000&xp=40',
 'https://www.naukri.com/recruiters/impel?xid=161504405791627000&xp=41',
 'https://www.naukri.com/recruiters/ashwini-3434922?xid=161504405791627000&xp=42',
 'https://www.naukri.com/recruiters/balajikolli-2870676?xid=161504405791627000&xp=43',
 'https://www.naukri.com/recruiters/rajaninagaraj-3387578?xid=161504405791627000&xp=44',
 'https://www.naukri.com/recruiters/rohitkumar-3277680?xid=161504405791627000&xp=45',
 'https://www.naukri.com/recruiters/amirchowdhury-2925314?xid=161504405791627000&xp=46',
 'https://www.naukri.com/recruiters/sreedhar-3824102?xid=161504405791627000&xp=47',
 'https://www.naukri.com/recruiters/shailjamishra-hrmanager-noida?xid=161504405791627000&xp=48',
 'https://www.naukri.com/recruiters/sunnysharma-mumbai?xid=161504405791627000&xp=49',
 'https://www.naukri.com/recruiters/lamasagar?xid=161504405791627000&xp=50']

In [205]:
naukri['location']=[]
try:
    for i in link:
        driver.get(i)
        naukri['location'].append(driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']//div[5]/a").text)
except NoSuchElementException:
    naukri['location'].append("--")

In [206]:
naukri_df=pd.DataFrame.from_dict(naukri)

In [207]:
naukri_df

,Recruiter Name,Recruiter Designation,Company,Skills Required,location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

In [208]:
naukri_df.to_csv('recruiters.csv')

In [209]:
driver.close()

Q10. Details of Datasets from UCI machine learning repositories.
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [27]:
driver=webdriver.Chrome(r'C:\Users\Priyanka\Documents\chromedriver.exe')   #connnecting to the web driver

In [28]:
driver.get('https://archive.ics.uci.edu/')
time.sleep(2)
driver.maximize_window()

In [29]:
driver.find_element_by_xpath("//span[@class='normal']//b/a").click()

In [30]:
datasets={}
datasets['Dataset Name']=[]
datasets['Data Type']=[]
datasets['Task']=[]
datasets['Attribute Type']=[]
datasets['No. of Instances']=[]
datasets['No. of Attributes']=[]
datasets['Year']=[]



#Extracting dataset name using xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='normal']//b/a"):
            datasets['Dataset Name'].append(i.text)
except NoSuchElementException:
    datasets['Dataset Name'].append("--")

    
for i in range(2,587):
    
#extracting data type using xpath
    try:
        datasets['Data Type'].append(driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[2]/p".format(i)).text)
    except NoSuchElementException:
        datatsets['Data Type'].append("--")
    
#Extracting task using xpath
    try:
        datasets['Task'].append(driver.find_element_by_xpath("//table[@border='1']//tr[{}]//td[3]".format(i)).text)
    except NoSuchElementException:
        datasets['Task'].append("--")
    
#extracting attribute type using xpath
    try:
        datasets['Attribute Type'].append(driver.find_element_by_xpath("//table[@border='1']//tr[{}]//td[4]".format(i)).text)
    except NoSuchElementException:
        datasets['Attribute Type'].append("--")
        
#extracting number of instances using xpath
    try:
        datasets['No. of Instances'].append(driver.find_element_by_xpath("//table[@border='1']//tr[{}]//td[5]".format(i)).text)
    except NoSuchElementException:
        datasets['No. of Instances'].append("--")
        
#extracting number of attributes using xpath
    try:
        datasets['No. of Attributes'].append(driver.find_element_by_xpath("//table[@border='1']//tr[{}]//td[6]".format(i)).text)
    except:
        datasets['No. of Attributes'].append("--")
        
#extracting year using xpath
    try:
        datasets['Year'].append(driver.find_element_by_xpath("//table[@border='1']//tr[{}]//td[7]".format(i)).text)
    except:
        datasets['Year'].append("--")

In [31]:
datasets_df=pd.DataFrame.from_dict(datasets)
datasets_df

,Dataset Name,Data Type,Task,Attribute Type,No. of Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020

In [32]:
datasets_df.to_csv('dataset.csv')

In [33]:
driver.close()